# Traefik Configuration File
api:
  insecure: true
  dashboard: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: true

entryPoints:
  web:
    address: ":80"

log:
  level: INFO

accessLog: {}