name: Build and Push (reusable)

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      tags:
        required: true
        type: string
      context:
        required: false
        type: string
        default: .
      dockerfile:
        required: false
        type: string
        default: Dockerfile
      entrypoint:
        required: false
        type: string
        default: entrypoint.sh
      push:
        required: false
        type: boolean
        default: true

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: [self-hosted, linux]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          push: ${{ inputs.push }}
          tags: ${{ inputs.image }}:${{ inputs.tags }}
          build-args: |
            ENTRYPOINT_SRC=${{ inputs.entrypoint }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
