name: CI Pipeline

on:
  push:
    branches:
      - develop
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release type'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Lint
        uses: ./.github/actions/lint-action
        with:
          files: '**/*.sh'

  docker-build:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        service: [postgres, redis, rabbitmq, nexus, traefik, github-runner]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build Docker image
        uses: ./.github/actions/docker-build-action
        with:
          dockerfile: docker/${{ matrix.service }}/Dockerfile
          context: docker/${{ matrix.service }}
          image-name: dolorestec/${{ matrix.service }}:v0.1.0

  gitflow-semantic:
    runs-on: ubuntu-latest
    needs: docker-build
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Gitflow Semantic
        uses: ./.github/actions/gitflow-semantic-action
        with:
          release-type: ${{ github.event.inputs.release_type }}